@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;600&family=Roboto:wght@300;400;500;700&display=swap');

@import 'scss/normalize.scss';

//fonts 
$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;

//colors
$color-1: #fff;
$color-2: #535265;
$color-3: #e1e8f0;
$color-4: #ada5f0;
$color-5: #00000031;
$color-6: #7b6fe6;
$color-7: #efeff0;
$color-8: #dbe9ed;
$color-9: #393f89;
$color-10: #dce8f4;
$color-11: #ffffffe0;

body {
  min-height: 100vh;
  font-family: $roboto;
  background-color: $color-3;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  //height: 100vh;

  .logo { 
    position: absolute;
    top: 10px;
    right: 40px;
  }

  .page-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $color-11;
    z-index: 99;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: 'Cargando datos por favor espere...';
    }
  }

  .box-wheater {
    position: absolute;
    background-color: $color-6;
    border-radius: 0 30px 30px 0;
    
    left: 0;
    top: 100px;

    .corner {
      position: absolute;
      width: 20px;
      height: 20px;
      background: $color-9;
      top: -20px;

      .curve {
        width: 27px;
        height: 33px;
        background: #fff;
        position: absolute;
        right: -7px;
        border-radius: 0 50% 0 50%;
        top: -13px;
      }

      &:nth-child(2){
        bottom: -20px;
        top: auto;
        background-color: $color-6;
        
        .curve {
          border-radius: 50% 0 0 0%;
          bottom: -13px;
          top: auto;
        }
      }
    }

    .float-element {
      border-radius: 0 20px 20px 20px;
      width: 90px;
      height: 90px;
      background-color: $color-9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 85%;
      }
  
      .icon {
        img {
          color: $color-1;
          width: 45px;
        }
      }
  
      .weather {
        font-size: 12px;
        color: $color-1;
        font-weight: 700;
      }
    }

    .degree {
      font-family: $oswald;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      font-size: 35px;
      font-weight: 700;
      color: $color-1;
      height: 70px;
      width: 70px;

      &:hover {
        opacity: 85%;
      }
    }
  }

  .btn-radius {
    cursor: pointer;
    background: #eeedfc;
    border: none;
    border-radius: 75px;
    padding: 7px 26px;
    font-size: 12px;
    display: block;
    margin: auto;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-4;
    }
  }

  .radius {
    border-radius: 20px;
  }

  .row {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .card-location {
    background-color: $color-1;
    padding-top: 25px;
    border: 1.5px dashed $color-7;
    z-index: 9;

    .img-locations {
      width: 100%;
      width: 100%;
      height: 90px;
      object-fit: contain;
    }
  }

  .cards-wheather {
    height: 78%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .days {
      display: flex;
      align-items: center;
      border: 1px solid $color-7;
      border-radius: 20px;
      box-shadow: 0px 15px 52px -28px;
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0px 1px 13px -4px;
      }

      .icon {
        margin-right: 10px;
        margin-left: 15px;
        
        img {
          height: 30px;
          width: 25px;
          color: $color-6;
          object-fit: cover;
        }
      }

      .info {
        flex-grow: 1;

        span {
          display: block;
          width: 100%;

          &.day {
            font-size: 12px;
            font-weight: 700;
          }

          &.type-day {
            font-size: 10px;
            color: $color-4
          }
        }
      }

      .grade {
        font-family: $oswald;
        min-width: 50px;
        height: 40px;
        color: $color-2;
        font-weight: 700;
        background-color: $color-10;
        padding: 10px 6px;
        border-radius: 20px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &.active {
          color: $color-1;
          background-color: $color-6;
        }
      }
    }
  }

  .card-weather-2 {
    display: flex;
    flex-wrap: wrap;
    background-color: $color-1;
    box-shadow: 1px 12px 115px -37px;
    border-radius: 20px;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 1px 13px -4px;
    }

    &:not(.float) {
      z-index: 5;
    }

    &.float {
      position: absolute;
      top: -110px;
    }

    .icon {
      background-color: $color-8;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 10px;

      img {
        width: 40px;
        color: $color-6;
      }
    }

    .data {
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin-left: 10%;

      .degrees {
        min-width: 38px;
        font-family: $oswald;
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 700;
        padding-right: 10px;
      }
      
      .location {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        height: max-content;
        align-items: center;
        padding-left: 10%;
        font-weight: 700;
        border-left: 1.5px solid $color-7;

        .city,
        .country {
          display: block;
          width: 100%;
        }

        .city {
          font-size: 15px;
        }

        .country {
          font-size: 11px;
        }
      }
    }

    .details {
      display: flex;
      justify-content: space-around;
      margin-top: 15px;
      padding-bottom: 10px;
      text-align: center;
      width: 100%;
      font-size: 10px;
      color: $color-4  
    }
  }

  .body-card {
    position: relative;
    width: 100%;
    max-width: 920px;
    overflow: hidden;
    background-color: $color-1;
    padding: 45px;
    border-radius: 30px;
    margin: 60px 20px;
    display: flex;
    flex-wrap: wrap;

    header {
      width: 100%;
    }

    p {
      font-size: 10px;
      line-height: 15px;
    }

    .img-header {
      display: block;
      height: 290px;
      width: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 30px;
      //margin-bottom: 35px;
    }

    .main-info {
      position: absolute;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      top: 15%;
      left: 12%;
      font-size: 25px;
      color: $color-6;
      font-weight: 700;
      height: 20%;

      .icon {
        svg {
          width: 12px;
        }
      }

      .map {
        padding-left: 10px;
        max-width: 120px;
      }
    }

    .section-left {
      display: flex;
      justify-content: space-between;
      margin-top: 35px;
      width: 65%;

      .header {
        margin-bottom: 35px;

        &.title {
          font-size: 18px;
          color: $color-2;
        }

        &.top-reviews {
          color: $color-4;
          min-height: 26px;
          font-size: 10px;
          display: flex;
          align-items: center;

          .icon {
            svg {
              width: 10px;
            }
          }

          .avatar {
            margin-left: 5px;

            .photo {
              object-fit: cover;
              object-position: top;
              width: 22px;
              height: 22px;
              border: 1.5px solid #fff;
              box-sizing: border-box;
              border-radius: 5px;
              margin-left: -8px;

              &:first-child {
                margin-left: 0;
              }
            }
          }
        }
      }

      .reviews,
      .place {
        .item {
          border-radius: 30px;
          display: flex;
          justify-content: space-between;
          position: relative;
          background-size: cover;
          background-position: top;
          margin-bottom: 25px;
          box-shadow: 0px 15px 52px -32px;
          transition: box-shadow 0.3s;


          &:hover {
            box-shadow: 0px 1px 13px -4px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &::before {
            border-radius: 30px;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-5;
          }

          &.narrow {
            border-radius: 20px;

            &::before {
              border-radius: 20px;
            }
          }

          .btn-link {
            border: none;
            border-radius: 30px;
            display: block;
            background-color: $color-6;
            height: 115px;
            width: 60px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              opacity: 95%;
            }
            svg {
              color: $color-1;
              width: 15px;
            }
          }

          .info-body {
            position: relative;
            display: flex;
            align-items: flex-start;
            padding: 14px 15px;
            
            .icon{
              margin-right: 5px;
              svg {
                color: $color-1;
                width: 8px;
              } 
            }

            p {
              margin: 1px;
              color: $color-1;
              max-width: 60px;
              font-weight: 700;
            }
          }
        }
      }

      .place {
        .item {
          height: 78%;
        }
      }
    }

    .section-rigth {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(35% - 70px);
      margin: 0 35px;
      margin-top: 35px;
      box-sizing: border-box;
    }
  }

  //medias query
  @media(max-width: 1024px) {
    .body-card .section-left .header.top-reviews {
      flex-wrap: wrap;
      //justify-content: center;

      .avatar {
        text-align: center;
        //width: 100%;
        margin: 5px 10px 0;
      }
    } 
  }

  @media(max-width: 920px) {
    .body-card {
      padding: 30px;

      .img-header {
        height: 250px;
      }

      .section-left {
        margin-top: 20px;

        .header.title {
          font-size: 16px;
        }
  
        .reviews .item .info-body {
          padding: 9px 10px;
  
          p {
           max-width: 70px;
          }
        } 
      }

      .section-rigth {
        margin: 0 30px;
        margin-top: 20px;
        padding-top: 20px;
      }
    } 

    .box-wheater {
      top: 90px;

      .float-element {
        border-radius: 0 20px 20px 20px;
        width: 70px;
        height: 70px;
        
        .icon img {
          width: 35px;
        }
      }

      .degree {
        font-size: 30px;
        height: 60px;
      }
    } 

    .cards-wheather {
      .days{
        .grade {
          min-width: 40px;
          font-size: 11px;
        }
        
        .icon {
          margin-right: 5px;
          margin-left: 10px;
        }
      }
    } 

    .card-weather-2 {
      .data {
        margin-left: 4%;
      }

      .icon {
        padding: 8px;
  
        img {
          width: 30px;
        }
      }

      &.float {
        top: -80px;
      }

      .details {
        font-size: 10px;

        .data .location {
          .city {
            font-size: 13px;
          }
          .country {
            font-size: 10px;
          }
        } 
        
      }
    } 

  }

  @media (max-width: 820px) {

    .cards-wheather .days .grade {
      font-size: 11px;
    }

    .card-weather-2 .data .degrees {
      font-size: 22px;
    }
  }

  @media (max-width: 768px) {
    .page-loader {
      align-items: flex-start;
      padding-top: 270px;
    }

    .body-card {
      .main-info {
        top: 9%;
        left: 13%;
        height: 13%;
      }

      .section-left,
      .section-rigth {
        width: 100%;
      }
      .section-rigth {
        margin: 30px 0 0;
      }

      .card-weather-2 {
        margin-bottom: 10px;

        &.float {
          position: relative;
          top: 0;
        }

        .data {
          .degrees {
            font-size: 30px;
          }
      
          .location .city {
            font-size: 20px;
          }
        } 
      } 

      
    }
  }

  @media (max-width: 560px) {
    .row {
      padding: 10px 0;

      .place {
        margin-top: 15px;
      }
    }

    .box-wheater {
      top: 75px;

      .corner .curve {
        width: 21px;
        right: 0px;
      }
    }

    .body-card {
      margin: 50px 10px;
      padding: 20px;

      .main-info {
        top: 5.5%;
        left: 25%;
        height: 9%;
      }

      .section-left {
        display: inline-block;

        p {
          font-size: 13px;
        }

        .header {
          margin-bottom: 15px;

          &.top-reviews {
            padding: 5px 10px;
            background: #dce8f4;
            border-radius: 10px;
          }
        }

        .place .item,
        .place .item::before {
          border-radius: 20px;
        }

        .place .item .info-body {
          p {
            max-width: 70px;
          }
        }

        .reviews .item .info-body  {
          padding: 14px 10px;
        }
      }
    }

    .cards-wheather .days {
      margin-bottom: 10px;
    }
  }

}


//loader
.loader,
.loader:before,
.loader:after {
  background: $color-1;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 3px;
  height: 35px;
}
.loader {
  color: $color-1;
  text-indent: -9999em;
  margin: 0 auto;
  position: relative;
  font-size: 3px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;

  &.dark {
    color: $color-2;
    background: $color-2;
    &::after,
    &::before {
      background: $color-2;
    }
  }
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}